div {
    border-width: 1px;
    border-color: crimson;
    border-style: dashed;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex-direction: column;
}