div {
    border: red;
    border-width: 1px;
    border-style: dashed;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.row-container-cmd {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex-direction: column;
}