<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>no_bugs</title>
</head>

<body>
    <div class="row-container">
        <div class="column-container">
            </ <!--Control-->
            <div class="column-container">
                <div>
                    <div class="row-container">
                        <div>
                            <form action="http://localhost:8080/continue">
                                <button
                                    style="font-size: 14px; font-weight: bold;background-color: darkgray;color: black;">Continue</button>
                            </form>
                        </div>
                        <div>
                            <form action="http://localhost:8080/stepover">
                                <button
                                    style="font-size: 14px; font-weight: bold;background-color: darkgray;color: black;">Step
                                    Over</button>
                            </form>
                        </div>
                        <div>
                            <form action="http://localhost:8080/stepinto">
                                <button
                                    style="font-size: 14px; font-weight: bold;background-color: darkgray;color: black;">Step
                                    Into</button>
                            </form>
                        </div>
                        <div>
                            <form action="http://localhost:8080/stepoutof">
                                <button
                                    style="font-size: 14px; font-weight: bold;background-color: darkgray;color: black;">Step
                                    Out Of</button>
                            </form>
                        </div>
                        <div>
                            <form action="http://localhost:8080/start">
                                <button
                                    style="font-size: 14px; font-weight: bold; background-color: brown;color: white;">Start/Stop</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--Source Code-->
                <div class="row-container-code">
                    {{range .Lines}}
                    <div style="margin: 0; align-items:baseline; height: fit-content; display: flex;flex-direction: row;background-color: antiquewhite;">
                        {{if .Breakpoint}}
                        <form action="http://localhost:8080/breakpoint?line={{.Num}}" method="post">
                            <button style="width: 30px; background-color: brown;color: white;">{{.Num}}.</button>
                        </form>
                        {{else}}
                        <form action="http://localhost:8080/breakpoint?line={{.Num}}" method="post">
                            <button style="width: 30px; background-color: aquamarine;color: black;">{{.Num}}.</button>
                        </form>
                        {{end}}
                        {{if .Current}}
                        <pre style="white-space: pre-wrap; min-width: 0; font-size:14px; margin-left: 10px; background-color: orange;">{{.Text}}</pre>
                        {{else}}
                        <pre style="white-space: pre-wrap; min-width: 0;font-size:14px; margin-left: 10px;">{{.Text}}</pre>
                        {{end}}
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="column-container">
            <div class="row-container">
                <!--Locals-->
                <div>

                </div>
                <!--Watch-->
                <div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>