div {
    border-width: 1px;
    border-color: crimson;
    border-style: dashed;
}

.row-container {
    display: flex;
}

.row-container > div {
    flex-direction: row;
    margin: 10px;
}

.column-container {
    display: flex;
}

.column-container > div {
    flex-direction: column;
    margin: 10px;
}